<div id="main" class="mx-12 my-8">
    <h1 class="text-3xl font-bold underline">
        Gojira
    </h1>
    <div id="new-issue">
        <button class="bg-slate-200 hover:bg-slate-300 text-slate-500 my-4 py-1 px-2 rounded"
            hx-get="/issues/new/"
            hx-trigger="click"
            hx-target="#new-issue">
            + New issue
        </button>
    </div>
    <div class="max-w-xs bg-slate-200 p-1 rounded"
        id="issue-board"
        hx-get="/issues"
        hx-trigger="load">
    </div>
    <div id="issue-details"></div>
    {{ if and (.ID) (not .IsArchived) }}
    <div hx-get="/issues/{{ .ID }}" hx-target="#issue-details" hx-trigger="load"></div>
    {{ end }}
</div>
