<div id="index">
    <h1 class="text-3xl ml-10 my-8 font-bold underline">
        Gojira
    </h1>
    <div id="new-issue">
        <button class="ml-10 border-black"
            hx-get="/issues/new/"
            hx-trigger="click"
            hx-target="#new-issue">
            Create new issue
        </button>
    </div>
    <div id="issue-board" hx-get="/issues" hx-trigger="load"></div>
    {{ if . }}
        <div id="issue-details" hx-get="/issues/{{ .ID }}" hx-trigger="load"></div>
    {{ else }}
        <div id="issue-details"></div>
    {{ end }}
</div>
