<form class="max-w-xs space-y-3 border-2 border-stale-200 my-2 p-2 rounded"
    hx-put="/issues/{{ .ID }}"
    hx-target="#index">
    <div>
        <label>{{ .ID }}</label>
    </div>
    <div>
        <div><label for="title">Title: </label></div>
        <input class="border-2"
            autofocus
            type="text"
            id="title"
            name="title"
            value="{{ .Title }}">
    </div>
    <div>
        <div><label for="body">Body: </label></div>
        <textarea class="border-2"
            type="text"
            id="body"
            name="body"
            rows="5">{{ .Body }}</textarea>
    </div>
    <div>
        <label for="isArchived">Archive: </label>
        <input type="checkbox" id="isArchived" name="isArchived" value="1">
    </div>
    <button class="bg-slate-200 hover:bg-slate-300 text-slate-500 p-1 rounded"
        type="submit">
        Update
    </button>
    <button class="bg-slate-200 hover:bg-slate-300 text-slate-500 p-1 rounded"
        hx-get="/issues/{{ .ID }}"
        hx-target="#issue-details">
        Cancel
    </button>
</form>
