<form hx-put="/issues/{{ .ID }}" hx-target="#index">
    <div>
        <label>{{ .ID }}</label>
    </div>
    <div>
        <label for="title">Title: </label>
        <input autofocus type="text" id="title" name="title" value="{{ .Title }}">
    </div>
    <div>
        <label for="body">Body: </label>
        <input type="text" id="body" name="body" value="{{ .Body }}">
     <div>
        <label for="isArchived">Archive: </label>
        <input type="checkbox" id="isArchived" name="isArchived" value="1">
    </div>
    </div>
    <button type="submit">
        Update
    </button>
    <button hx-get="/issues/{{ .ID }}" hx-target="#issue-details">
        Cancel
    </button>
</form>
